node_modules
.env
dist
build
.pnpm-debug.log*
*.log
logs
*.log.20*
.vscode/*
!.vscode/extensions.json
.idea
.project
.classpath
.settings
.DS_Store
Thumbs.db
*.db
*.db-journal
src/generated
Back-End/src/generated/
